version: "3.9"

services:
  db:
    image: postgres:15
    container_name: delivery_db
    ports:
      - "6543:5432"
    environment:
      POSTGRES_DB: delivery_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: supersecret
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
